<!DOCTYPE html>
<html lang="en">
<head>
<title>{{title}}</title>
	<link rel="shortcut icon" href="">
	<link rel="stylesheet" href="../stylesheets/css/skeleton.css" media="screen" type="text/css">
    <!-- Lato font -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' type="text/css">
    <!-- Bootstrap -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- jQuery UI -->
	<link rel="stylesheet" href="../stylesheets/css/jquery-ui.css" type="text/css">
</head>
<body class="entry-body">
	<div class="ui-widget center">
		<p class="logo">Labyrinth</p>
		<p>
		    <label for="labs" class="labs-label">Enter the ID of the lab you're willing to join</label>
		    <br>
		    <input id="labs" value="type in a lab ID here" style="color: rgb(150,150,150);">
		    <button id="goBtn" class="btn btn-primary btn-sm">Go</button>
		    <br>
		    <a href="#" style="color: rgb(255,255,255);">Or create a new lab</a>
		</p>
	</div>
</body>
<script src="../javascripts/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../javascripts/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
<script src="../javascripts/entry.js" type="text/javascript" charset="utf-8"></script>
</html>