<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="shortcut icon" href="">
	<link rel="stylesheet" href="../stylesheets/css/skeleton.css" media="screen" type="text/css">
    <!-- Lato font -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' type="text/css">
    <!-- Bootstrap -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- jQuery UI -->
	<link rel="stylesheet" href="../stylesheets/css/jquery-ui.css" type="text/css">
</head>
<body>
	<p class="center">Doesn't seem like there's anything here. <br><a href="/">Go to the main page</a></p>
	
</body>
</html>