p, small, a {
    font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

h1 {
    font-size: 20px;
}

.slim-p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
	font-family: 'Lato', sans-serif;
	font-weight: 300;	
}

table, tr, td, th, td {
	text-align: left;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

code {
    font-size: 16px;
}

pre {
    display: block;
    padding: 0px;
    margin: 0 auto;
    line-height: 1.2;
    color: #333;
    word-break: break-all;
    background-color: #fff;
    border: none;
    word-wrap: break-word;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.cellDiv {
    position: absolute;
}

.modalBlurredBackgroundDiv {
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 1001;
    background: rgba(255,255,255,0.9);
}

/* Skeleton */
.left-pane-350 {
    position: absolute;
    top: 20px; /* Top status bar */
    width: 350px;
    height: ~"calc(100vh - 20px)"; /* Bottom history */
    overflow-y: scroll;
}

.left-pane-400 {
    position: absolute;
    top: 20px; /* Top status bar */
    width: 400px;
    /* width: 300px; */
    height: ~"calc(100vh - 20px)"; /* Bottom history */
    overflow-y: scroll;
}

.middle-pane-left-350 {
    position: absolute;
    top: 20px; /* Top status bar */
    left: 350px;
    width: 350px;
    height: ~"calc(100vh - 20px)"; /* Bottom history */
    overflow-y: scroll;
}

.middle-pane-left-400 {
    position: absolute;
    top: 20px; /* Top status bar */
    left: 400px;
    /* left: 300px; */
    width: 700px;
    /* width: 400px; */
    height: ~"calc(100vh - 20px)"; /* Bottom history */
    overflow-y: scroll;
}

.right-pane-middle-350 {
    position: absolute;
    top: 20px; /* Top status bar */
    left: ~"calc(350px + 350px)";
    width: ~"calc(100vw - 350px - 350px)";
    height: ~"calc(100vh - 20px)"; /* Bottom history */
    overflow-y: scroll;
}

.right-pane-middle-400 {
    position: absolute;
    top: 20px; /* Top status bar */
    left: ~"calc(400px + 700px)"; /* Adjustment for paddings ACE editor */
    /* left: ~"calc(300px + 400px)"; */
    width: ~"calc(100vw - 400px - 700px)";
    /* width: ~"calc(100vw - 300px - 400px)"; */
    height: ~"calc(100vh - 20px)"; /* Bottom history */
    overflow-y: scroll;
}

/* Status Pane -- top */
.status {
    position: absolute;
    height: 10px;
    left: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    display: inline-block;
}

.status p {
    display: inline-block;
}

/* History Pane -- bottom */
.history {
    position: absolute;
    left: 10px;
    right: 10px;
    top: ~"calc(100vh - 130px)";
    height: 130px;
}

.history p {
    display: inline-block;
}

#testcase-list {
    .left-pane-400;
}

#author-testcase-list {
    .left-pane-400;
    top: 100px;
}

#matrix-view-switch {
    display: none;
}

.testcase-list-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Visualization Pane -- rightmost */
#viz {
    .right-pane-middle-400;
}

.viz-matrix-div {
    display: none;
}

.viz-title-p {
    position: absolute;
    color: rgb(0, 0, 184);
    font-size: 24px;
    font-style: bold;
}

/* Author control */
.author-control {
    position: absolute;
    top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* PythonTutor Visualization Pane -- leftmost */
#python-tutor-panel {
    .left-pane-400;
}

.python-tutor-panel-inner-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Diff Code Panel -- leftmost */
#diff-code-panel {
    .left-pane-400;
    display: none;
}

.diff-code-panel-title {
    padding-left: 10px;
    padding-right: 10px;
}

.right-float-button {
    float: right;
}

/* Editor */
#editor {
    .middle-pane-left-400;
}

.orange-text {
    display: inline-block;
    color: rgb(255,127,80);
}

.blue-text {
    display: inline-block;
    color: rgb(82,209,2552);
}

.custom-vis-close {
    display: none;
    color: #aaaaaa;
    float: right;
    font-size: 14px;
    font-weight: bold;
}

.checkpoint-status-img img, .checkpoint-status-img div {
	float: left;
	vertical-align: middle;
	padding-right: 5px;
}

/* The Close Button */
.question-modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.question-modal-close:hover,
.question-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Modal for notifications */
/* Background */
.notification-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    margin-left: 70vw;
    margin-top: 60vh;
    width: 25vw;
    height: 30vh;
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.notification-modal-content {
    background-color: rgba(255,192,45,0.7); /* Yellow w/ opacity */
    padding-left: 10px;
    padding-right: 10px;
}
.warning-modal-content {
    background-color: rgba(255,187,187,0.7); /* Red w/ opacity */
    padding-left: 10px;
    padding-right: 10px;
}

/* The Close Button */
.notification-modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 14px;
    font-weight: bold;
}

.notification-modal-close:hover,
.notification-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Modal for inputting user name */
/* Background */
.login-modal {
    display: block; /* The first thing to be shown */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.login-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.signup-modal-content, .lab-id-modal-content {
    .login-modal-content;
}

.login-modal-close:hover,
.login-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Context menu */
.tooltipClass {
    display: none;
    position: absolute;
    z-index: 10;
    /* padding: 0 0; */
    width: 500px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
    overflow-x: scroll;
    overflow-y: scroll;
}

.tooltip--active {
    display: block;
}

.context-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu__item {
    display: block;
    margin-bottom: 0;
}

.context-menu__item:last-child {
    margin-bottom: 0;
}

.context-menu__link {
    display: block;
    padding: 4px 12px;
    color: #0066aa;
    text-decoration: none;
}

.context-menu__link:hover {
    color: #fff;
    background-color: #0066aa;
    text-decoration: none; /* Not sure why I have to add this again? */
}

/* Entry page */
.center {
    position: relative;
    display: block;
    margin: 35vh 0 0 0;
    text-align: center;
}

.entry-body {
    /* background-image: url('../../images/lab.jpeg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}

.logo {
    font-size: 50pt;
    font-weight: 400;
    /* color: rgb(150,150,150); */
}

.labs-label {
    /* color: rgb(255,255,255); */
}
 
#labs {
    width: 350px;
    border-radius: 5px;
}

/* Highlight color */
.highlight { background-color: yellow }

/* Ace editor gutter style */
.redMarker, .redGutter {
    /*background-color: #ffecec;*/ /* from GitHub diffs */
    background-color: #ffbbbb; /* a wee bit darker, from GitHub */
}

.greyMarker, .greyGutter {
    background-color: rgb(160,160,160); /* a wee bit darker, from GitHub */
}

.navyMarker, .navyGutter {
    background-color: #000080;
}

.orangeMarker, .orangeGutter {
    background-color: rgba(255,127,80, 0.7);
}

/* Syntax error highlight Ace editor */
.syntaxErrorHighlight {
    /* Must be after background definitions */
    /* background-size: 4px 4px; */
    border-bottom: 1px solid red;
    position: absolute;
    cursor: pointer !important;
    pointer-events: auto;
}

/* Visualization */
.vis-close {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

svg {
  font: 10px sans-serif;
  padding: 10px;
}

.axis,
.frame {
    shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.cell text {
  font-weight: bold;
  /* text-transform: capitalize; */
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

/* Line numbered <pre> */
pre code,
pre .line-number {
  /* Ukuran line-height antara teks di dalam tag <code> dan <span class="line-number"> harus sama! */
  font:normal normal 12px/14px Monospace;
  color:black;
  display:block;
}

pre .line-number {
  float:left;
  margin:0 1em 0 -1em;
  border-right:1px solid;
  text-align:right;
}

pre .line-number span {
  display:block;
  padding:0 .5em 0 1em;
}

pre .cl {
  display:block;
  clear:both;
}

/* History Viz */

.x.axis line {
  shape-rendering: auto;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}
